<!DOCTYPE html>
<html>
    <head>
        <title>PM Electronics</title>
        <link rel="icon" type="imgage" href="/static/logo.jpg">
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> New Joinee </h2>
        </div>
        <div>
            <form action="http://localhost:5000/dashboard/worker/add_worker2" method="post">
                <table>
                    <tr>
                        <td>Name : </td>
                        <td>
                            <input type="text" name="name" placeholder="Name of the worker">
                        </td>
                    </tr>
                    <tr>
                        <td>Phone Number : </td>
                        <td><input type="number" name="phone" placeholder="Phone Number" min="1000000000"/></td>
                    </tr>
                    <tr>
                        <td>Salary : </td>
                        <td><input type="number" name="salary" placeholder="Salary" min="12000"/></td>
                    </tr>
                    <tr>
                        <td>DOB : </td>
                        <td><input type="date" name="age" placeholder="age" /></td>
                    </tr>
                    <tr>
                        <td>Job : </td>
                        <td><input type="text" name="job" placeholder="job" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>

