<!DOCTYPE html>
<html>
    <head>
        <title>Lakshmi Kanth & co.</title>
    </head>
    <body style="background-color: rgb(83, 178, 213);">
        <h2 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h2>
        <div>
            <h1 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(212, 239, 178);">!!!!!!! {{phone}} is Currently Maintaining a Debt of {{debt}} !!!!!!!</h1>
        </div>
        <div>
            <form action="http://localhost:5000/dashboard/customer/clear3", method="post">
                <table>
                    <tr style="display: inline;margin-left: 500px;">
                        <td><h3>Enter the Phone number again to conform : </h3></td>
                    </tr>
                    <tr style="display: inline;">
                        <td><input type="number" name="phone" placeholder="Phone Number"></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;"><input type="submit" value="cleared" style="margin-left: 700px;"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>