<!DOCTYPE html>
<html>
    <head>
        <title>PM Electronics</title>
        <link rel="icon" type="imgage" href="/static/logo.jpg">
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Clearance Page </h2>
        </div>
        <div>
            <form action="http://localhost:5000/dashboard/customer/clear2" method="post">
                <table>
                    <tr>
                        <td>Customer-Name</td>
                        <td><input type="text" name="name" placeholder="Customer-Name"/></td>
                    </tr>
                    <tr>
                        <td>Phone-Number</td>
                        <td><input type="number" name="phone" placeholder="Phone Number"/></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px;"><input type="submit" value="Submit"/></td>
                    </tr>
                </table>
            </form>
        </div>
        <div>
            <p style="display: inline;margin: 550px;">
                <a href="http://localhost:5000/dashboard/customer/alerts"><img src="/static/alert.jpg" width="400px"></a>
            </p>
        </div>
    </body>
</html>