<!DOCTYPE html>
<html>
    <head>
        <title>Lakshmi Kanth & co.</title>
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">Lakshmikanth group of fertilizer shops pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Customer Page </h2>
        </div>
        <h1>Hi Manohar this is customer page</h1>
    </body>
</html>