<!DOCTYPE html>
<html>
    <head>
        <title>Lakshmi Kanth & co.</title>
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">Lakshmikanth group of fertilizer shops pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Accessing admin priviliges as {{ad}} </h2>
        </div>
        <div style="margin: 50px;">
            <p style="display: inline;margin: 30px;">
                <a href="http://localhost:5000/dashboard/customer"><img src="/static/customer.jpg" width="300px"></a>
            </p>
            <p style="display: inline;margin: 15px;">
                <a href="http://localhost:5000/dashboard/stats"><img src="/static/stats.jpg" width="300px"></a>
            </p>
            <p style="display: inline;margin: 15px;">
                <a href="http://localhost:5000/dashboard/stock"><img src="/static/stock.jpg" width="300px"></a>
            </p>
            <p style="display: inline;margin: 15px;">
                <a href="http://localhost:5000/dashboard/worker"><img src="/static/worker.jpg" width="300px"></a>
            </p>
        </div>
        <div>
            <a href="http://localhost:5000">
                <button style="width: 100px;height: 50px;background-color: rgb(117, 52, 5);font-weight: bold;margin-left: 700px;">LOGOUT</button>
            </a>
        </div>
    </body>
</html>