<!DOCTYPE html>
<html>
    <head>
        <title>PM Electronics</title>
        <link rel="icon" type="imgage" href="/static/logo.jpg">
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Monthwise Statistics </h2>
        </div>
        <div>
            <form action="http://localhost:5000/dashboard/stats/mstats/mb" method="post">
                <table>
                    <tr>
                        <td>Choose the Month</td>
                        <td><input type="month" name="month"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" style="margin-left: 70px;"></td>
                    </tr>   
                </table>
            </form>
        </div>
    </body>
</html>