<!DOCTYPE html>
<html>
    <head>
        <title>Lakshmi Kanth & co.</title>
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Product update </h2>
        </div>
        <div style="margin-left: 420px;margin-top: 120px;">
            {% for product in prdts %}
                <h2>Product: <strong>{{ product[0] }}</strong> 
                     Cash Price: <strong>{{ product[1] }}</strong> 
                     Debt Price: <strong>{{ product[2] }}</strong></h2>
            {% endfor %}
        </div>
        <div>
            <form action="http://localhost:5000/dashboard/stock/update_product2" method="post">
                <table>
                    <tr>
                        <td>Product</td>
                        <td>
                            <select name="producton">
                                <option value="Rogar">ROGAR</option>
                                <option value="Rogar-f">ROGAR-F</option>
                                <option value="Rogar-m">ROGAR-M</option>
                                <option value="Rogar-d">ROGAR-D</option>
                                <option value="Rogar-k">ROGAR-K</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Cash Price</td>
                        <td><input type="number" name="cashon" placeholder="cash price"/></td>
                    </tr>
                    <tr>
                        <td>Debt Price</td>
                        <td><input type="number" name="debton" placeholder="debt price"/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>

