<!DOCTYPE html>
<html>
    <head>
        <title>Lakshmi Kanth & co.</title>
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Business Statistics </h2>
        </div>
        <div style="margin-left: 450px;margin-top: 150px;">
            <h1>Total numer of cash transactions : <strong>{{cash_count}}</strong></h1>
            <h1>Total numer of debt transactions : <strong>{{debt_count}}</strong></h1>
            <h1>Total cash collected : <strong>{{ccash}}</strong></h1>
            <h1>Total debt given : <strong>{{dcash}}</strong></h1>
            <h1>Total amount returned in Clearance : <strong>{{c_amt}}</strong></h1>
        </div>
    </body>
</html>

