<!DOCTYPE html>
<html>
    <head>
        <title>Lakshmi Kanth & co.</title>
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Statistics Page </h2>
        </div>
        <div style="margin: 60px;">
            <p style="display: inline;margin-left: 20px;">
                <a href="http://localhost:5000/dashboard/stats/dstats"><img src="/static/day.jpg" width="250px"height="240px"></a>
            </p>
            <p style="display: inline;margin-left: 20px; ">
                <a href="http://localhost:5000/dashboard/stats/mstats"><img src="/static/month.jpg" width="250px" height="240px"></a>
            </p>
            <p style="display: inline;margin-left: 20px;">
                <a href="http://localhost:5000/dashboard/stats/ystats"><img src="/static/year.jpg" width="250px" height="240px"></a>
            </p>
            <p style="display: inline;margin-left: 20px;">
                <a href="http://localhost:5000/dashboard/stats/stocks"><img src="/static/stocks.jpg" width="250px" height="240px"></a>
            </p>
            <p style="display: inline;margin-left: 20px;">
                <a href="http://localhost:5000/dashboard/stats/products"><img src="/static/products.jpg" width="250px" height="240px"></a>
            </p>
        </div>

        </div>
    </body>
</html>