<!DOCTYPE html>
<html>
    <head>
        <title>Lakshmi Kanth & co.</title>
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">Lakshmikanth group of fertilizer shops pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Stocks and Products </h2>
        </div>
        <div style="margin: 80px;">
            <p style="display: inline;margin-left:230px;">
                <a href=""><img src="/static/up.jpg" width="250px"height="260px"></a>
            </p>
            <p style="display: inline;margin-left: 50px;">
                <a href=""><img src="/static/np.jpg" width="250px"height="260px"></a>
            </p>
            <p style="display: inline;margin-left: 50px;">
                <a href=""><img src="/static/AS.jpg" width="250px"height="260px"></a>
            </p>
        </div>
        
    </body>
</html>