<!DOCTYPE html>
<html>
    <head>
        <title>Lakshmi Kanth & co.</title>
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Business Statistics </h2>
        </div>
        <div style="margin-left: 600px;margin-top: 150px;">
            {% for i in stcks %}
            <h1>Stocks : <strong>{{i}}</strong></h1>
            {% endfor %}
        </div>
    </body>
</html>

