<!DOCTYPE html>
<html>
    <head>
        <title>PM Electronics</title>
        <link rel="icon" type="imgage" href="/static/logo.jpg">
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Employees Page </h2>
        </div>
        </div>
        <div style="margin: 80px;">
            <p style="display: inline;margin-left:230px;">
                <a href="http://localhost:5000/dashboard/worker/update_worker"><img src="/static/UE.jpg" width="250px"height="260px"></a>
            </p>
            <p style="display: inline;margin-left: 50px;">
                <a href="http://localhost:5000/dashboard/worker/view"><img src="/static/ve.jpg" width="250px"height="260px"></a>
            </p>
            <p style="display: inline;margin-left: 50px;">
                <a href="http://localhost:5000/dashboard/worker/add_worker"><img src="/static/ae.jpg" width="250px"height="260px"></a>
            </p>
        </div>
    </body>
</html>