<!DOCTYPE html>
<html>
    <head>
        <title>PM Electronics</title>
        <link rel="icon" type="imgage" href="/static/logo.jpg">
        <style>
            .content {
                margin: 50px auto;
                max-width: 800px;
                padding: 20px;
                background-color: #2E3B36;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                text-align: center;
            }
        </style>
    </head>
    <body style="background-color: rgb(62, 79, 73);">
        <div>
            <h1 style="text-align: center;color: rgb(45, 92, 4);background-color: rgb(241, 237, 16);">PM Electronics pvt. limited</h1>
        </div>
        <div>
            <h2 style="text-align: center;color: rgb(255, 0, 0);background-color: rgb(153, 227, 56);"> Worker update </h2>
        </div>
        <div>
            <form action="http://localhost:5000/dashboard/worker/update_worker2" method="post">
                <table>
                    <tr>
                        <td>Name : </td>
                        <td>
                            <input type="text" name="name" placeholder="Name of the worker">
                        </td>
                    </tr>
                    <tr>
                        <td>Phone Number : </td>
                        <td><input type="number" name="phone" placeholder="Phone Number" min="1000000000"/></td>
                    </tr>
                    <tr>
                        <td>Salary : </td>
                        <td><input type="number" name="salary" placeholder="Salary" min="12000"/></td>
                    </tr>
                    <tr>
                        <td>DOB : </td>
                        <td><input type="date" name="age" placeholder="age" /></td>
                    </tr>
                    <tr>
                        <td>Job : </td>
                        <td><input type="text" name="job" placeholder="job" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Submit"/></td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="content">
            {% for worker in workers %}
                <h2>Name : <strong>'{{ worker[0] }}'</strong>, 
                     Job: <strong>'{{ worker[1] }}'</strong>, 
                     Phone: <strong>{{ worker[2] }}</strong>,
                     Salary: <strong>{{ worker[3] }}</strong>, 
                     DOB: <strong>{{ worker[4] }}</strong>,
                     Email-id : <strong>{{ worker[5] }}</strong></h2>
            {% endfor %}
        </div>
        
        </div>
    </body>
</html>

